{{ $src := .Get "src" }}
{{ $poster := .Get "poster" }}
{{ $caption := .Get "caption" }}
{{ $maxWidth := .Get "max-width" | default "100%" }}

<figure style="text-align: center; margin: 1rem auto; max-width: {{ $maxWidth }};"
    {{ with .Get "class" }} class="{{ . }}"{{ end }}>

    <video
        {{ with $poster }} poster="{{ . | absURL }}"{{ end }}
        {{ with .Get "autoplay" }} autoplay{{ end }}
        {{ with .Get "loop" }} loop{{ end }}
        {{ with .Get "muted" }} muted{{ end }}
        controls preload="none"
        style="display: block; width: 100%; height: auto; margin: 0 auto;">

        <source src="{{ $src | absURL }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    {{- if or (or (.Get "title") $caption) (.Get "attr") -}}
        <figcaption style="text-align: center;">
            {{ with (.Get "title") -}}<h4>{{ . }}</h4>{{- end -}}
            {{- if or $caption (.Get "attr") -}}<p>
                {{- $caption | markdownify -}}
                {{- with .Get "attrlink" }}<a href="{{ . }}">{{- end -}}
                {{- .Get "attr" | markdownify -}}
                {{- if .Get "attrlink" }}</a>{{ end }}</p>
            {{- end }}
        </figcaption>
    {{- end }}
</figure>
